:root {
    --height: 0px;
    --width: 0px;
}

header {
    margin: 0px;
    padding: 10px;
    background-color: lightgreen;
    filter: drop-shadow(0px 4px 6px black);
}

body {
    margin:0;
    background-image: url("grass-texture.png");
}

#main-content {
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: antiquewhite;
    box-shadow: 0px 4px 12px black;
}

.center {
    text-align: center;
}

#options {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
}

.seperator {
    padding: 10px;
}

#board {
    margin-left: 50px;
    display: none;
    position: relative;
    
}

#board:after {
    content: "";
    display: table;
    clear: both;
}

#game {
    float: left;
    border: 1px solid black;
    height: 400px; 
    width: 600px;
    background-image: url("field.png");
    background-size: cover;
}

#character{
    display: none;
    width: 25px;
    height: 25px;
    background-color: red;
    position: absolute;
    
}

#instructions {
    float: left;
    border: 1px solid black;
    height: 400px;
    width: 100px;
}

#feedback {
    display: none;
}


#game b {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
    position: absolute;
    -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  }
  
  @-webkit-keyframes moveX {
    from { left: 0; } to { left: var(--width); }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: var(--width); }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: var(--width); }
  }
  @keyframes moveX {
    from { left: 0; } to { left: var(--width); }
  }
  
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: var(--height); }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: var(--height); }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: var(--height); }
  }
  @keyframes moveY {
    from { top: 0; } to { top: var(--height); }
  }








@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

.animate{
    animation: jump 300ms linear;
}

#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    /*animation: block 1s infinite linear;*/
}

@keyframes block{
    0%{left: 500px} 
    100%{left: -20px}
}


