/* Finale Website */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #164A41;
    box-shadow: 0px 2px 10px black;
}

.bar li, .bar a { 
    height: 40px;
    line-height: 50px;
}

.menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #FFFFFF;
}

.menu a:hover, .menu a:target {
    color: #9DC88D;
}

.menu-items {
    display: inline-block;
}

.main-button {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 10px;
    width: 155px; /* 155 */
    height: 50px;
}

a.main-button, a:visited.main-button {
    color: #e0e0e0;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-items a {
    text-decoration: none;
}

.show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .menu { 
        position: relative;
        width: 100%;
    }

    .main-button {
        position: absolute;
        top: 0;
        left: 15px;
        margin-left: 0px;
    }

    .menu-items {
        display: none; 
        width: 100%;
        margin-top: 50px;
        background-color: #4D774E;
        box-shadow: 0px 2px 10px black;
    }

    .menu-items li {
        display: block;
        text-align: center;
    }

    .show, .hide {  
        position: absolute;
        top: 0;
        right: 15px;
    }

    .show {
        display: inline-block;
    }

    .hide {
        display: none;
    }

    #menu:target .show {
        display: none;
        }

    #menu:target .hide, #menu:target .menu-items {
        display: inline-block;
    }
}

@media only screen and (max-width: 220px) {
    .main-button, .show, .hide {
        font-size: 14px;
    }
}

body {
    font-family: Verdana, sans-serif;
    line-height: 25px;
    background-color: #ffffff;
    margin-bottom: 0px;
}

.title {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    background: #9DC88D url(assets/Bliss4k.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 36px;
    line-height: 46px;
    color: #164a41;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
  }

h3 {
    color: #164A41;
}

.content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 250px;
    padding: 10px;
    margin-bottom: 50px;
}

.content > * {
    padding: 10px;
}

#golf-cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

figcaption{
    font-size: small;
    text-align: center;
}

.super-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

footer{
    position: static;
    bottom:0;
    width:100%;
    height:40px;
    text-align: center;
    background-color: #164A41;
    color: #FFFFFF;
    padding-top: 20px;
}

#footer-items > * {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}


/* Game CSS */

#grass {
    display: none;
}

#soccer-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#soccer {
    width: 100%;
    height: 100%;
}